<div class="ui blue inverted menu">
  <a class="active item" href="/dashboard">
    Lessons
  </a>
  <a class="item" href="/assignment">
    Assignment
  </a>
  <a class="item">
    Live streaming
  </a>
  <div class="right menu">
   <a class = "item" href="/users/logout">
     Logout
   </a> 
  </div>
</div><br/>

<div class="ui container">
  <div class="ui raised segment">
          <h2>Test Completed</h2>
          <h3>Congratulations. You got - </h3><br/>
            Correct Answers: {{ct}}<br/>
            Incorrect Answers:5-{{ct}};
  </div>
</div>
